<!DOCTYPE html>
<html>
  <head>
    <title>対決</title>
  </head>

  <body>
    <div class="container" style="flex-direction: column;">
    <h1>対決モードは準備中です！</h1>
    <%= link_to "モード選択に戻る", new_mode_path, class: "btn" %>
    </div>
  </body>
</html>
