<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ビンゴ</title>
    <link href="../../assets/stylesheets/bingo_ruret.css" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="bingo">
            <!-- ビンゴカード -->
            <div class="bingo-heading">
                <h2>ビンゴカード</h2>
            </div>
            <div class="card">
                <div class="outer"  id="outer">

                </div>
            </div>
        </div>
    </div>

    <script src="bingo.js"></script>
    <script>
        const images = <%= raw @pictures.to_json %>;
        const imagePath = "<%= asset_path('animal/1.png') %>";
        const imagePaths = <%= raw @image_paths.map { |path| "animal/#{path}" }.to_json %>;
        const imagePathsArray = <%= raw @image_paths.map { |path| asset_path("animal/#{path}") }.to_json %>;
  // imagesを使用したJavaScriptのコード
</script>
</body>
</html>