<header class='header'>
  <div class='container'>
  <div class='row'>
      <div class='col'>
        <%= link_to image_tag("logo.png"), root_path %>
      </div>
     
        <div class='col'>
            <%= link_to "コレクション", "#" %>
        </div>
        <div class='col'>
            <%= link_to "モード選択", "#" %>
        </div>
        <div class='col'>
            <%= link_to "ログイン", "#" %>
        </div>

    </div>
  </div>
</header>