<footer class="mode-footer" >
  <div class='row'>
      <div class='col'>
        <%= link_to "利用規約", terms_path %>
      </div>
      <div class='col'>
        <%= link_to "プライバシーポリシー", privacy_path %>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <div class='copyright'>
          <p>Copyright © 2024.どうぶつビンゴ</p>
        </div>
      </div>
    </div>
  </div>
</footer>