<footer class='footer'>
  <div class='container'>
  <div class='row'>
      <div class='col'>
        <%= link_to "利用規約", "#" %>
      </div>
      <div class='col'>
        <%= link_to "プライバシーポリシー", "#" %>
      </div>
      <div class='col'>
        <%= link_to "お問い合わせ", new_contact_path %>
      </div>
    </div>
    <div class='row'>
      <div class='col'>
        <div class='copyright'>
          <p>Copyright © 2024. どうぶつビンゴ</p>
        </div>
      </div>
    </div>
  </div>
</footer>