<div class='container'>
  <div class='top-inner-text'>
    <h1>どうぶつビンゴ</h1>
    <p>100種類の動物が登場！！
    <br>遊びながら動物を学べて知育にピッタリ！
    <br>親子の楽しい時間を提供します。
    </p>
    <button type="button" class="btn btn-success">さっそく遊ぶ</button>
    <%= image_tag 'animal/1.png', size: '40x40' %>
  </div>
</div>
<div>